<ion-item *ngIf="todo" [detail]="false" [routerLink]="'/todo-detail/' + todo._id">
  <div slot="start" class="dot" *ngIf="todo.status=='done'"><span style="color: green;">&#10004;</span></div>
  <div slot="start" class="dot" *ngIf="todo.status=='todo'"><span style="color: orange;">&#9737;</span></div>

  <ion-label class="ion-text-wrap">
    <h2>
      {{ todo.name }}
      <span class="date">
        <ion-note>{{ todo.date }}</ion-note>
        <ion-icon name="chevron-forward" size="small" *ngIf="isIos()"></ion-icon>
      </span>
    </h2>
    <p>
      {{ todo.description }}
    </p>
  </ion-label>

</ion-item>

<ion-button expand="block" *ngIf="todo.status == 'todo'" color="tertiary" [routerLink]="'/todo-add-update/' + todo._id"><i class="fa fa-edit"></i>
</ion-button>
<ion-button expand="block" *ngIf="todo.status == 'done'" color="danger" (click)="deleteToDo(todo._id)"><i class="fa fa-trash"></i></ion-button>

<ion-item-divider>
</ion-item-divider>